{% extends 'base/base.html' %}


{% block body %}

<div>
    {% if page == 'login' %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="enter Username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="enter password">
            <input type="submit" value="Login">
        </form>
        <p>haven't signed up yet? click here to  <a href="{% url 'register' %}">register</a></p>
        
     
    </div>
    {% else %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="register">
        </form>
        <p>Already signed up   <a href="{% url 'login' %}">Login here</a></p>
       
    </div>
   {% endif %}
    
</div>

<!-- <h5>{{info}}</h5> -->

{% endblock %}